[Unit]
Description=ptywatch service
After=local-fs.target

[Service]
Type=simple
ExecStart=/usr/sbin/ptywatch.exe /usr/libexec/ptywatch/dbus-signal.so

[Install]
WantedBy=multi-user.target
